<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <title>Desafio Dito</title>

    <link rel="stylesheet" href="./css/custom_timeline.css">
    <link rel="stylesheet" href="./css/custom_icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-timeline/dist/css/bulma-timeline.min.css">    

  </head>
  <body>

    <div id="app">
        <div class="app_container">
            <div class="timeline">

                <div class="timeline-item" v-for="compra in timeline">
                    <div class="timeline-marker is-icon check-icon">
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-content-container triangle">
                            <div class="timeline-content-container-heading">
                                    <div class="heading-date">
                                        <i class="icones calendar-icon icones-a"></i>
                                        {{ compra.date }}
                                    </div>
                                    <div class="heading-hour">
                                        <i class="icones clock-icon icones-a"></i>
                                        {{ compra.hour }}
                                    </div>
                                    <div class="heading-where">
                                        <i class="icones place-icon icones-b"></i>
                                        {{ compra.store_name }}
                                    </div>
                                    <div class="heading-price">
                                        <i class="icones money-icon icones-c"></i>
                                        {{ compra.revenue | moneyFormat }}
                                    </div>
                            </div> <!-- /.timeline-content-container-heading -->
                            <div class="timeline-content-container-body">
                                <table class="table_produtos">
                                    <tr class="linha linha1">
                                      <th class="coluna">Produto</th>
                                      <th class="coluna coluna_preco">Preço</th>
                                    </tr>
                                    <tr v-for="produto in compra.produtos" class="linha">
                                      <td class="coluna">{{ produto.product_name }}</td>
                                      <td class="coluna coluna_preco">{{ produto.product_price | moneyFormat }}</td>
                                    </tr>
                                  </table>
                               
                               
                            </div> <!-- /.timeline-content-container-body -->
                        </div> <!-- /.timeline-content-container -->
                    </div> <!-- /.timeline-content -->
                </div> <!-- /.timeline-item -->
        
            </div> <!-- /.timeline -->
        </div> <!-- /.app_container -->

    </div> <!-- /#app -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    <script>

    new Vue({
      el: '#app',
      data: {
        events: null,
        endpoint: 'https://storage.googleapis.com/dito-questions/events.json'
      },
      mounted: function () {
        /* O método getEvents() atribui os eventos do endpoint à propriedade "events"
        * que ficará sendo ouvida pelo dado computado "timeline"  
        * de modo que qualquer alteração na propriedade "events"
        * modifique automaticamente a timeline, de modo reativo
        */

        this.getEvents();
      },    
      computed: {
        timeline() {
            let events_comprou = this.filterComprouEvents(this.events);
            let timeline = this.createTimeline(events_comprou);
            timeline = this.orderByTimestampDesc(timeline);
            return timeline;
        }
      },
      methods: {
            getEvents() {
                var vm = this;
                axios.get(vm.endpoint)
                .then(function (response) {
                    vm.events = response.data.events;
                }, function (error) {
                    console.log(error.statusText);
                });
            },
            createTimeline(events_comprou) {
                var vm = this;
                events_comprou = _.forEach(events_comprou, function(comprou) {
                    comprou.transaction_id = vm.getCustomData(comprou, 'transaction_id');
                    comprou.store_name = vm.getCustomData(comprou, 'store_name');
                    comprou.date = vm.getEventDate(comprou.timestamp);
                    comprou.hour = vm.getEventHour(comprou.timestamp);
                    comprou.produtos = vm.getProdutos(comprou);
                });
                return events_comprou;
            },
            getProdutos(event) {
                let produtos = this.getProdutosGroupByTransactionId(event.transaction_id);
                produtos = this.orderByTimestampDesc(produtos);
                return produtos;
            },
            getProdutosGroupByTransactionId(transaction_id) {
                /*
                * Filtra a propriedade "events" para pegar
                * somente os eventos com a propriedade "transaction_id" iguais
                * e considerando apenas o eventos do tipo "comprou-produto"
                */

                var vm = this;
                return _.filter(this.events, function(obj) {
                    let objTransactionId = vm.getCustomData(obj, 'transaction_id');
                    if(objTransactionId == transaction_id) {
                        if(obj.event == "comprou-produto") {
                            obj.product_name = vm.getCustomData(obj, 'product_name');
                            obj.product_price = vm.getCustomData(obj, 'product_price');
                            return obj;
                        }
                    }         
                });
            },
            getCustomData(obj, key) {
                let index = _.findIndex(obj.custom_data, ['key', key]);
                return obj.custom_data[index].value;
            },
            filterComprouEvents(events) {
                return _.filter(events, { "event": "comprou" });
            },
            orderByTimestampDesc(obj) {
                return _.orderBy(obj, ['timestamp'], 'desc'); 
            },
            getEventDate: function(timestamp) {
                let year = timestamp.substr(0, 4);
                let month = timestamp.substr(5, 2);
                let day = timestamp.substr(8, 2);
                return day+"/"+month+"/"+year;                
            },
            getEventHour: function(timestamp) {
                return timestamp.substr(11, 5);
            } 
        },
      filters: {
        moneyFormat: function (value) {
            return value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        }
      }

    });

    </script>
    
  </body>
</html>